<%- include header %>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="file1" accept="image/*" />
    <input type="file" name="file2" accept="image/*" />
    <input type="file" name="file3" accept="image/*" />
    <hr/>
    <button type="submit" class="btn btn-success pull-right">立即上传</button>
</form>

<%- include footer %>